[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
lab = "*"
jupyterlab = "*"
urllib3 = "*"
pyspark = "*"
findspark = "*"
pandas = "*"
np = "*"
lxml = "*"

[dev-packages]

[requires]
python_version = "3.9"
